@font-face {
    font-family: Helvetica;
    src: local(Helvetica);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');
    font-weight: normal;
}

.main {
    display: flex;
    height: 150px;
    width: auto;
    flex: 1 1 0;
}

.info {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}
.info p {
    display: inline;
    margin-right: 10px;
}

#hireMeHeader {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 150px;
    width: 300px;
    height: auto;
    flex: 0.7;
    padding: 20px;
}

#erfaring {
    font-family: "JetBrains Mono", serif;
    font-weight: normal;
    flex: 1;
    font-size: 40px;
}

#fadeImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 2;
}